<!-- <p>Bonjour <%#= @mandat.annonce.prenom_proprio.capitalize%>,</p>
<p class="mb-1">Votre agent a préparé le mandat de location.</p>
<p class="mb-1">Connectez-vous ou créez un compte afin de voir votre annonce et signer le mandat de location.</p>
<p>Votre email de connection à utiliser : <%= @mandat.annonce.email_proprio %> </p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%#= link_to "Voir votre annonce et signer mandat de location", annonce_url(@mandat.annonce) %></p> -->