<p>Bonjour <%= @admin.prénom.capitalize %>,</p>
<p><%= @agent.user.prénom.capitalize + "  postule pour devenir agent Realbeez."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir candidatures", agents_url %></p>