<p>Bonjour Boss,</p>
<p><%= @agent.user.prénom.capitalize + " - " + @agent.user.email + "  a modifié son profil agent Realbeez."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir candidatures", agents_url %></p>