<!-- <p>Bonjour <%#= @agent.user.prénom.capitalize %>,</p>
<p><%#= @admin.prénom.capitalize + " a rejeté votre candidature."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%#= link_to "Voir profil", profile_url(@agent.user) %></p> -->