<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <h3 class="text-center mt-5 mb-4">Ajouter une visite</h3>
        <% if @annonces != [] || @annonces_proprio != []  %>
          <%= render 'form', meeting: @meeting %>
        <% else %>
          <h4 class="my-5" style="width: 100%; color:#DA334A; font-style: italic">"Vous n'avez aucun bien à louer actuellement"</h4>
        <% end %>
        <%= link_to 'Annuler', root_path %>
      </div>
    </div>
  </div>
</div>