<p>Bonjour <%= User.find(@contrat.locataire_candidature.annonce.agent_user_id.to_i).prénom.capitalize %>,</p>
<p>Le locataire <%= Locataire.find(@contrat.locataire_candidature.locataire_id).prenom.capitalize + " " + Locataire.find(@contrat.locataire_candidature.locataire_id).nom.capitalize %> a signé le contrat de bail pour le bien <%= @contrat.locataire_candidature.annonce.titre_annonce %></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le contrat de location", contrat_url(@contrat) %></p>
