// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(80, 80, 80);
$light-gray: #F8F9FA;
$error: #DA334A;


// second background color : #FFFFFF
// yellow realbeez : color: #D8A727


// $gray: #0E0000
