// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(100, 100, 100);
$light-gray: #F8F9FA;
$error: #DA334A;


// second background color : #FFFFFF
// $gray: #0E0000


// REALBEEZ COlOR
// yellow mustard : color: #D8A727;
// yellow bright : #fdd741;
// black of "Real": #3a3a3c;
// braun dark : #3b1f29;
// braun light : #764c29;
// grey light (wing): #e7e8e9;
// grey dark (wing) : #d1d2d4;

// blue of the message : rgba(2, 90, 193, 0.8);
