<p>Bonjour <%= @meeting.annonce.user.prénom.capitalize %>,</p>
<p><%= @meeting.user.prénom.capitalize + ' a prévu une visite de votre bien situé à ' + @meeting.annonce.ville + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir visites", meetings_url(visites: {from: 'proprio'}) %></p>