<!-- <p>Bonjour Boss,</p>
<p><%=# @user.prénom.capitalize + " s'est inscrit sur le site Realbeez"%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%=# link_to "Voir tous les utilisateurs", profile_all_users_url %></p> -->