<p>Bonjour Boss,</p>
<p><%= Locataire.find(@locataire_candidature.locataire_id).prenom.capitalize + " a déposé un dossier de location pour le bien " + @locataire_candidature.annonce.titre_annonce.capitalize + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le dossier de location", locataire_candidature_url(@locataire_candidature) %></p>