<p>Bonjour <%= User.find(@locataire_candidature.annonce.agent_user_id.to_i).prénom.capitalize %>,</p>
<p><%= Locataire.find(@locataire_candidature.locataire_id).prenom.capitalize + " a supprimé son dossier de location pour le bien " + @locataire_candidature.annonce.titre_annonce.capitalize + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir les dossiers de location", locataires_agent_url %></p>