<p>Bonjour <%= User.find(@locataire_candidature.annonce.agent_user_id.to_i).prénom.capitalize %>,</p>
<p><%= @locataire_candidature.annonce.user.prénom.capitalize + " a rejeté le dossier de location de " + Locataire.find(@locataire_candidature.locataire_id).prenom.capitalize  + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le dossier de location", locataire_candidature_url(@locataire_candidature) %></p>