<p>Bonjour <%= @locataire_candidature.user.prénom.capitalize %>,</p>
<p>Nous avons le regret de vous informer que <%= @locataire_candidature.annonce.user.prénom.capitalize + " a rejeté votre dossier de location."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le dossier de location", locataire_candidature_url(@locataire_candidature) %></p>