<p>Bonjour <%= User.find(@locataire_candidature.annonce.agent_user_id.to_i).prénom.capitalize %>,</p>
<p><%= Locataire.find(@locataire_candidature.locataire_id).prenom.capitalize + " a mis à jour son dossier de location pour le bien " + @locataire_candidature.annonce.titre_annonce.capitalize + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le dossier de location", locataire_candidature_url(@locataire_candidature) %></p>