<div class="pb-5" style="">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <h5 class="text-center mt-3 my-5 pt-5" style="color: #D8A727">Merci pour votre aide</h5>
        <p><%= current_user.prénom.titlecase %>,</p>
        <p>Votre email de parrainage a bien été envoyé et nous vous en remercions.</p>
        <p class="mb-1">Bien à vous,</p>
        <p>Votre équipe Realbeez</p>
        <%= link_to "Retour", new_parrain_path  %>
      </div>
    </div>
  </div>
</div>