<!-- Card : Pourquoi choisir RB -->
<div class="container mb-5 pt-5">
  <h3 class="text-center mt-5 mb-5">3 principales raisons de choisir Realbeez</h3>
  <div class="row justify-content-around">
    <div class="col-xs-12 col-sm-5 col-lg-3 border mb-3 mx-3 p-3", style="box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 30px; background-color: white">
      <div class="text-center" style="font-size: 30px; color: #D8A727"><i class="fas fa-euro-sign"></i></div>
      <p class="p-0 text-center"style="font-weight: bold; color: #D8A727">Un tarif clair et attractif</p>
      <ul>
        <li>
          <p>Un tarif fixe de <strong>375 € </strong> HT (TVA non applicable) peu importe la supérficie de votre bien</p>
        </li>
        <li>
          <p>Aucuns frais à la charge du locataire afin d'assurer une location rapide</p>
        </li>
        <!--   <li>
          <p>Les frais d'agence à repartir à votre convenance entre le propriétaire et le locataire</p>
        </li> -->
        <li>
          <p>Un forfait fixe payable uniquement au succès</p>
        </li>
      </ul>
      <div class="text-center"><%= link_to "Plus d'information", details_path, class:"stretched-link", style:"font-size: 14px" %></div>
    </div>
    <div class="col-xs-12 col-sm-5 col-lg-3 border mb-3 mx-3 p-3", style="box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 30px; background-color: white">
      <div class="text-center" style="font-size: 30px; color: #D8A727"><i class="fas fa-user-friends"></i></div>
      <p class="p-0 text-center"style="font-weight: bold; color: #D8A727">Proximité et disponibilité</p>
      <ul>
        <li>
          <p>Un agent Realbeez disponible près de votre bien à louer</p>
        </li>
        <li>
          <p>Des visites possibles les <strong>soirs et les week ends</strong></p>
        </li>
        <li>
          <p>Un seul agent dédié pour votre bien</p>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-5 col-lg-3 border mb-3 mx-3 p-3", style="box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 30px; background-color: white">
      <div class="text-center" style="font-size: 30px; color: #D8A727"><i class="fas fa-list-ol"></i></div>
      <p class="p-0 text-center"style="font-weight: bold; color: #D8A727">Une offre complète et non contraignante</p>
      <ul>
        <li>
          <p>Notre mandat de location <strong> est sans exclusivité</strong></p>
        </li>
        <li>
          <p>Essayez nos services sans aucune contrainte</p>
        </li>
        <li>
          <p>Multipliez les chances de louer votre bien le plus rapidement possible</p>
        </li>
      </ul>
      <p style="font-style: italic"></p>
    </div>
  </div>
</div>