<div style="background-color: white">
  <div class="pt-5" style="background-color: #F8F9FA; border-bottom-left-radius: 50% 40px; border-bottom-right-radius: 50% 40px">
  </div>
</div>
<div class="py-5" style="background-color: white; border-bottom-left-radius: 50% 40px; border-bottom-right-radius: 50% 40px">
  <div class='container mb-5'>
    <h3 class="text-center mt-5 mb-5">Realbeez en 5 étapes</h3>
    <div class="row justify-content-around">
      <div class="col-12 col-lg-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">1</p>
        </div>
        <p class="">Nous vous contactons par téléphone afin de collecter les informations concernant votre bien à louer.
        </p>
      </div>
      <div class="col-12 col-lg-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">2</p>
        </div>
        <p class="">Vous rencontrez votre agent afin de lui remettre les clés ou installez une boite à clé sécurisée à l'entrée de votre bien. <em style="font-weight: lighter; font-size: 14px">
            <a href="https://www.amazon.fr/gp/product/B0773DTSHN/ref=as_li_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B0773DTSHN&linkCode=as2&tag=shwienly-21&linkId=dd06f34693a9efff946d0936221e4169" target="_blank">(recommandé : facile à installer, peu couteux et sûr)</a></em>
        </p>
      </div>
      <div class="col-12 col-lg-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">3</p>
        </div>
        <p class="">Votre annonce est publiée sur les principaux sites de l’immobilier et votre agent effectue les visites de votre
          <br>
          bien.
        </p>
      </div>
      <div class="col-12 col-lg-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">4</p>
        </div>
        <p class="">
          Vous recevez les dossiers de location directement sur votre plateforme,
          <br>
          selectionnez votre locataire et signez le contrat de bail.
        </p>
      </div>
      <div class="col-12 col-lg-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">5</p>
        </div>
        <p class="">Votre agent effectue l’état des lieux d'entrée avec photos à l’appui et remet les clés à votre nouveau locataire.
        </p>
      </div>
    </div>
  </div>
</div>