<div class="py-5" style="background-color: white">
  <div class='container'>
    <h3 class="text-center mt-5 mb-5">Realbeez en 5 étapes</h3>
    <div class="row justify-content-around">
      <div class="col-12 col-md-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">1</p>
        </div>
        <p class="">Publiez votre annonce sur notre site et choisissez votre agent Realbeez en fonction de la proximité avec votre bien à louer.
        </p>
      </div>
      <div class="col-12 col-md-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">2</p>
        </div>
        <p class="">Rencontrez votre agent afin de lui remettre les clés ou installez un coffre à clé sécurisé à l'entrée de votre bien. <em style="font-weight: lighter; font-size: 14px">(recommandé : facile à installer, peu couteux et sûre)</em>
        </p>
      </div>
      <div class="col-12 col-md-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">3</p>
        </div>
        <p class="">Votre annonce est publiée sur les principaux sites de l’immobilier et votre agent effectue les visites de votre
          <br>
          bien.
        </p>
      </div>
      <div class="col-12 col-md-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">4</p>
        </div>
        <p class="">
          Vous recevez par email les dossiers de candidature suite aux visites,
          <br>
          selectionnez votre locataire et signez le contrat de bail.
        </p>
      </div>
      <div class="col-12 col-md-2 text-center">
        <div class="d-flex justify-content-center align-items-center">
          <p class="p-0 rounded-circle"style="font-weight: ; color: #D8A727; height: 50px; width: 50px; font-size : 28px; border: 2px solid #D8A727">5</p>
        </div>
        <p class="">Votre agent effectue l’état des lieux d'entrée avec photos à l’appui et remet les clés à votre nouveau locataire.
        </p>
      </div>
    </div>
  </div>
</div>