<!-- Button trigger modal -->
<button type="button" class="btn-transparent-bold-yellow" data-toggle="modal" data-target="#exampleModalLong" >
  <i class="fas fa-info-circle mr-1"></i>Rôle de l'agent
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Les rôles de l'Agent Realbeez </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" style="line-height: 1.8em">
        <p>Devenir Agent Realbeez c'est choisir d'exercer une activité de <strong>consultant en location immobilière</strong> en toute liberté.
          Vous choisissez les biens que vous voulez gérer et vous définissez vos périodes de disponibilités pour effectuer les visites de vos bien à louer.</p>
        <p style='font-weight: bold; color: #D8A727'>Les avantages de l'activité d'Agent</p>
        <p style="font-weight: bold">Rémunération </p>
        <ul>
          <li class="mb-2">Une rémunération de 250 euros vous est versée pour chaque bien immobilier loué. </li>
          <li class="mb-2">Cette activité peut vous permettre d'obtenir des revenus complémentaires en plus de votre activité principale.</li>
        </ul>
        <p style="font-weight: bold">Fléxibilité </p>
        <ul>
          <li class="mb-2">Devenir agent Realbeez vous offre la possibilité de gérer votre agenda comme vous le souhaitez. Vous renseignez vos périodes de disponibilités directement sur notre plateforme.</li>
          <li class="mb-2">Vous choisissez les biens que vous voulez gérer en fonction de votre situation géographique. Ainsi, vous pouvez privilégier les biens situés à proximité de votre domicile (même quartier, même rue, voire dans le même immeuble).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>