<!-- Button trigger modal -->
<button type="button" class="btn-signup-small" data-toggle="modal" data-target="#exampleModalLong" >
  <i class="fas fa-info-circle mr-1"></i>Info
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Notre mandat de location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" style="line-height: 1.8em">
        <p style="font-weight: bold; color: #D8A727">Les différentes étapes de la procédure</p>
        <ul>
          <li class="mb-2">Après avoir publié votre annnonce sur notre site, vous choississez un agent immobilier Realbeez en fonction de la proximité avec votre bien à louer.</li>
          <li class="mb-2">Après acceptation du mandat par les 2 parties, votre agent prendra contact avec vous afin de récupérerer les clés du bien à louer. <em style="font-weight: lighter; font-size: 14px"><a href="https://www.amazon.fr/boite-%C3%A0-cl%C3%A9-s%C3%A9curis%C3%A9e/s?k=boite+%C3%A0+cl%C3%A9+s%C3%A9curis%C3%A9e" target="_blank">L'installation d'une boite à clés est fortement recommandée pour faciliter l'échange des clés</a></em>
          </li>
          <li class="mb-2">Votre annonce est publié sur le(s) principaux sites de l'immobilier et votre agent commence les visites.</li>
          <li class="mb-2">Vous reçevez par email les dossiers de candidature reçues suite aux visites, vous choisissez votre locataire et signez le contrat de bail (modèle de contrat fourni).</li>
          <li class="mb-2">Enfin, votre agent effectue l'état des lieux d'entrée et remet les clés à votre nouveau locataire.</li>
          <li class="mb-2">Après validation des 2 parties que la transaction est finalisée, vous paierez la somme de 375 € TTC.</li>
        </ul>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    </div>
  </div>
</div>
</div>
<style>
  .btn-signup-small {
    border: 1px solid #D8A727 ;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
    transition: all .15s ease-in-out;
    color: #D8A727;
    i {
      padding-right: 4px;
    }
  }
  
  .btn-signup-small:hover {
  border: 1px solid transparent;
  color: #FFF;
  background-color:#D8A727  ;
  }
</style>