<!-- Button trigger modal -->
<button type="button" class="btn-signup-small" data-toggle="modal" data-target="#exampleModalLong" >
  <i class="fas fa-info-circle mr-1"></i>Rôle de l'agent
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Les rôles de l'Agent Realbeez </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" style="line-height: 1.8em">
        <p>Devenir Agent Realbeez c'est choisir d'exercer une activité <strong>d'agent commercial en location immobilière</strong> en toute fléxibilité.
          Vous choisissez les biens que vous voulez gérer et vous définissez vos périodes de disponibilités pour effectuer les visites.</p>
        <p style='font-weight: bold; color: #D8A727'>Les avantages de l'activité d'Agent</p>
        <p style="font-weight: bold">Rémunération </p>
        <ul>
          <li class="mb-2">Une rémunération de 250 euros vous est versée pour chaque bien immobilier loué. </li>
          <li>Cette activité peut vous permettre d'obtenir des revenus complémentaires en plus de votre activité principale.</li>
        </ul>
        <p style="font-weight: bold">Fléxibilité </p>
        <ul>
          <li class="mb-2">Devenir agent Realbeez vous offre la possibilité de gérer votre agenda comme vous le souhaitez. Vous renseignez vos périodes de disponibilités directement sur notre plateforme</li>
          <li>Vous choisissez les biens que vous voulez gérer en fonction de votre situation géographique. Ainsi, vous pouvez privilégier les biens situés à proximité de votre domicile (même quartier, même rue, voir dans le même immeuble).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<style>
  .btn-signup-small {
    border: 1px solid #D8A727 ;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
    transition: all .15s ease-in-out;
    color: #D8A727;
    i {
      padding-right: 4px;
    }
  }
  
  .btn-signup-small:hover {
  border: 1px solid transparent;
  color: #FFF;
  background-color:#D8A727  ;
  }
</style>
<!-- <p style='font-weight: bold; color: #D8A727'>L'Agent Realbeez est en charge des taches suivantes : </p>
        <ul>
          <li>Vous proposez vos services à des propriétaires via la plateforme Realbeez en fonction de la situation géographique du bien à louer.</li>
          <li>Les propriétaires peuvent également vous contacter directement via la plateforme pour demander vos services.</li>
          <li>Après acceptation du mandat par les 2 parties, vous contactez le propriétaire afin du récupérerer les clés du bien à gérér. <em style="font-size: 14px">L'installation d'un coffre à clés par le propriétaire est recommandé pour faciliter l'échange des clés</em>( </li>
          <li>Vous publiez les annonces sur les principaux sites de l'immobilier (Leboncoin, seloger.com, PAP...).</li>
          <li>Vous effectuez les visites du bien aux potentiels locataires et recevez les dossiers de candidatures éléctroniquement.</li>
          <li>Vous transférez les dossiers aux propriétaires, ces derniers choisissent leurs locataires et signent les contrats de bail.</li>
          <li>Enfin, vous effectuez l'état des lieux d'entrée et remettez les clés au nouveau locataire.</li>
          <li>Après validation des 2 parties que la transaction est finalisée, vous êtes rémunéré 250 euros</li>
        </ul> -->