<!-- Card : Pourquoi choisir RB -->
<div class="py-5" style="background-color: white">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">Utilisez gratuitement nos outils de gestion</h3>
    <div class="hide-on-small">
      <div class="d-flex justify-content-center mb-5">
      </div>
    </div>
    <div class="hide-on-large">
      <div class="d-flex justify-content-center mb-5">
      </div>
    </div>
  </div>
</div>