<!-- Tarifs -->
<div class="container">
  <h3 class="text-center mt-5 mb-5">Realbeez : combien ça coute?</h3>
  <div class="row">
    <div class="col-10 offset-1 border py-4 px-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 10px; background-color: white; line-height: 1.8em">
      <p class="p-0" style="font-weight: bold; color: #D8A727">Tarifs à Paris et en Province</p>
      <p>Notre forfait à <strong>375 euros TTC</strong> inclut les services suivants : </p>
      <ul>
        <li>Publication de l’annonce sur les principaux sites de l’immobilier </li>
        <li>Réalisation des visites</li>
        <li>Etablissement de l’état des lieux</li>
      </ul>
    </div>
    <div class="col-10 offset-1 mt-5 mb-5 border py-4 px-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.2); border-radius: 10px; background-color: white; line-height: 1.8em">
      <p class="p-0"style="font-weight: bold; color: #D8A727">Nous vous proposons une offre claire et attractive</p>
      <ul>
        <li style="line-height: 1.8em">Les tarifs sont fixes peu importe la superficie de votre bien ou sa situation géographique.</li>
        <li>Un prix total (frais d'agence supportés par le propriétaire et le locataire) fortement en dessous d'une agence traditionelle.</li>
        <li>Nous vous garantissons <strong>AUCUNS FRAIS CACHÉS</strong>.</li>
        <li>Afin de louer votre bien le plus rapidement possible il n'y a <strong>AUCUNS FRAIS A LA CHARGE DU LOCATAIRE</strong>.</li>
      </ul>
    </div>
  </div>
</div>