<!-- Button trigger modal -->
<button type="button" class="btn-transparent-bold" data-toggle="modal" data-target="#exampleModalLong" >
  <i class="fas fa-info-circle mr-1"></i>Activités de l'agent
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Les activités de l'Agent Realbeez </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" style="line-height: 1.8em">
        <p style='font-weight: bold; color: #D8A727'>L'Agent Realbeez est en charge des taches suivantes : </p>
        <ul>
          <li class="mb-3">Après acceptation du mandat par les 2 parties, vous contactez le propriétaire afin de récupérerer les clés du bien à gérér. (<em style="font-size: 14px">L'installation d'une boite à clés par le propriétaire est recommandée pour faciliter l'échange des clés</em>)</li>
          <li class="mb-3">Vous publiez les annonces sur les principaux sites de l'immobilier (notamment Leboncoin).</li>
          <li class="mb-3">Vous effectuez les visites du bien aux potentiels locataires et recevez les dossiers de candidatures éléctroniquement par email.</li>
          <li class="mb-3">Vous transférez les dossiers aux propriétaires, ces derniers choisissent leurs locataires et signent les contrats de bail.</li>
          <li class="mb-3">Enfin, vous effectuez l'état des lieux d'entrée et remettez les clés au nouveau locataire.</li>
          <li class="mb-3">Après validation des 2 parties que la transaction est finalisée, vous êtes rémunéré 250 euros.</li>
        </ul>
        <p style="font-size: 14px"><em>Voir instructions détaillées reçues par email.</em></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>