<div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" %>')">
  <div >
    <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-2">Mentions légales</h3>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <p>Le site www.realbeez.com est édité par :</p>
      <p class="mb-1">Realbeez</p>
      <p class="mb-1">90 avenue de Choisy</p>
      <p class="mb-1">75013 Paris (France)</p>
      <p>https://www.realbeez.com</p>
      <p>Realbeez est une SAS au capital de 1000€ (en cours d’immatriculation)</p>
      <p class="text-justify"> Société dont l’objet est la transactions immobilières, notamment la mise en location de biens immobiliers, et qui est soumise notamment à la loi n°70-9 du 2 janvier 1970 réglementant les conditions d’exercice des activités relatives à certaines opérations portant sur les immeubles et les fonds de commerce.</p>
      <p class="mb-1">RCS Paris : 880 147 822</p>
      <p class="mb-1">Carte professionnelle "Transaction" n° : en cours</p>
      <p>Responsabilité civile professionnelle : en cours</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Directeur de la publication</h5>
      <p>Monsieur Steven Ly, président de la société Realbeez.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Conditions d'utilisation</h5>
      <p class="text-justify">Le site accessible par l'url suivant : www.realbeez.com est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Natural net.
        Realbeez ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Limitation de responsabilité</h5>
      <p class="text-justify"> Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>
      <p class="text-justify"> Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Realbeez ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>
      <p>Les photos sont non contractuelles.</p>
      <p class="text-justify"> Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Realbeez.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727"> Litiges</h5>
      <p class="text-justify">Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Realbeez. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Confidentialité</h5>
      <p class="text-justify"> Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727"> Propriété intellectuelle</h5>
      <p class="text-justify">Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Realbeez à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>
      <p class="text-justify"> Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Realbeez. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Hébergeur</h5>
      <p class="mb-1">Heroku</p>
      <p class="mb-1"> 650 7th Street, San Francisco, États-Unis</p>
      <p> Tél : +1 (877) 563-4311</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Informations et exclusion</h5>
      <p class="text-justify">Realbeez met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Realbeez, et signaler toutes modifications du site qu'il jugerait utile. Realbeez n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Cookies</h5>
      <p class="text-justify">Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>
      <h5 class="text-center mt-5 mb-4" style="color: #D8A727">Contactez-nous</h5>
      <p class="text-justify"> Realbeez est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire par courrier électronique à : contact@realbeez.com.</p>
    </div>
  </div>
</div>