<div class="d-flex align-items-center justify-content-center" style="height: 60vh; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path "https://images.unsplash.com/photo-1518713445884-d97080d2dea3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" %>')">
  <div >
    <h3 style="color: white; font-family: simply rounded; font-size: 26px" class="text-center px-2">Démocratisons le marché de l'immobilier</h3>
  </div>
</div>
<div class="pb-5" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <h5 class="text-center mt-3 my-5 pt-5" style="color: #D8A727">Le concept</h5>
        <p> Realbeez est une agence immobilière en ligne spécialisée dans la location. Nous recrutons des consultants en immobilier partout en France afin d'assister les propriétaires dans la mise en location de leurs biens.</p>
        <p>Nous tentons de démocratiser le monde de l’immobilier, de permettre à chacun de devenir un acteur du marché et ainsi de créer un réseau d’agents de proximité et de confiance. Realbeez est un outil précieux pour les propriétaires. Il leur permet de sélectionner leurs partenaires basés sur la disponibilité, la proximité par rapport aux biens à louer ou encore à partir d’un système d’évaluation des agents.</p>
        <p>Par ailleurs, Realbeez se veut soucieux de l'environnement. Notre ambition est de devenir la première agence développement durable, de promouvoir un service de proximité, de limiter les déplacements motorisés et ainsi de réduire notre empreinte carbone. Notre objectif est de développer une agence digitale et verte où chaque agent se trouve à quelques pas du bien à louer. Plus de voiture, plus de bruit… et un peu moins de pollution.</p>
        <p>Enfin, nous souhaitons mettre fin à l’opacité et à la complexité du calcul des frais d’agence, ainsi nous proposons un forfait à 375 HT (TVA non applicable - article 293 B du CGI) pour tous et partout. Nous garantissons qu’il n’y a aucun coût caché.</p>
        <p>Afin d’assurer une relocation rapide aucuns frais ne sont supportés par les locataires.</p>
      </div>
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <h5 class="text-center mt-3 my-5" style="color: #D8A727"> L’histoire</h5>
        <p>Realbeez est une entreprise qui a été créée afin de répondre à un besoin identifié par son fondateur. Étant originaire d’Alsace mais ayant quitté la région, la gestion de son bien immobilier a été confiée à une agence traditionnelle.</p>
        <p>Leur offre de service de relocation engendre la facturation d’honoraires à la fois à la charge du propriétaire et du locataire. Le coût du service trop élevé (supérieur au prix du loyer dans certains cas) décourage les locataires intéressés et cela se traduit par des appartements vacants.</p>
        <p>Le concept de Realbeez était alors évident ! A l’aide des nouvelles technologies, créer une plateforme internet permettant la mise en relation des agents immobiliers indépendants et des propriétaires afin de louer leurs appartements rapidement, à un faible coût et de bénéficier d'un interlocuteur unique et disponible.</p>
      </div>
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <h5 class="text-center mt-3 my-5" style="color: #D8A727"> Le fondateur</h5>
        <div class="row">
          <p class="mb-0 col-12 col-md-4"><%= image_tag (cl_image_path "https://res.cloudinary.com/dvfwroq5k/image/upload/v1573772384/DSC00890_wij1wo.jpg"), crop: :fill, style:"object-fit:cover; height: 300px; border-radius: 50px", class: "center" %></p>
          <div class="col-12 col-md-8 py-4">
            <p>Steven Ly est diplômé de l’université de Strasbourg. Il a par la suite obtenu une certification délivrée par l’ACCA (Association of Chartered Certified Accountants).</p>
            <p>Après avoir passé 10 ans en finance, il suit la formation en developpement web dispensée par Le Wagon et se lance dans l’aventure Realbeez !</p>
            <div>
              <a href="https://www.linkedin.com/in/steven-ly-8b731733/" style=" opacity: 0.6; font-size: 14px" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>