<div class="py-5" style="background-color:">
  <div class="container">
    <h3 class="text-center mt-5 mb-5">Utilisez gratuitement nos outils de gestion</h3>
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 text-justify mb-4">
        <p>Realbeez met à votre disposition ses outils de gestion afin de vous assister dans la mise en location de votre bien immobilier, de centraliser tous vos documents sur une plateforme unique et de faciliter vos échanges avec vos potentiels locataires.</p>
      </div>
    </div>
    <div class="hide-on-small">
      <div class="d-flex justify-content-center mb-5">
        <iframe width="672" height="378" src="https://www.youtube.com/embed/n7Oo1zbr15M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="hide-on-large">
      <div class="d-flex justify-content-center mb-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/n7Oo1zbr15M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2 text-justify mb-4">
        <div class="border p-3 mt-5" style="box-shadow: 1px 1px 5px rgba(0,0,0,0.1)">
          <h1 class="mb-4 mt-3 text-left" style="color: #D8A727; font-family: Simply Rounded; font-size: 24px; letter-spacing: 1px">Trouvez rapidement un locataire pour votre bien immobilier</h1>
          <p class="mb-2" style="color: rgb(100, 100, 100); font-size: 16px; font-weight: bold">Un forfait fixe à <span style="font-size: 18px; color: #D8A727">375 €</span> sans aucune contrainte !</p>
          <ul class="mb-4">
            <li class="" style="color: rgb(100, 100, 100)">payable uniquement au succès</li>
            <li class="" style="color: rgb(100, 100, 100)">un prix réduit pour les locataires</li>
            <li class="" style="color: rgb(100, 100, 100)">un mandat non-exclusif</li>
          </ul>
          <div class="d-flex justify-content-center">
            <%= link_to "Louer mon bien", root_path, class:"btn-transparent-bold"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>