<div class="pb-5" style="">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 text-justify px-4" style="line-height: 1.8em">
        <h5 class="text-center mt-3 my-5 pt-5" style="color: #D8A727">Merci pour votre message</h5>
        <p>Madame, Monsieur,</p>
        <p>Nous accusons reception de votre message et l'un de nos collaborateurs vous contacterez dans les plus brefs délais.</p>
        <p>Bien cordialement,</p>
        <p>L'équipe Realbeez</p>
        <%= link_to "Retour", root_path  %>
      </div>
    </div>
  </div>
</div>