<p>Bonjour Boss,</p>
<p class="mb-1"><%= @contact.prenom.capitalize + " " + @contact.prenom.capitalize + " est intéressé par notre offre de mise en location."%></p>
<p class="mb-1">Téléphone : <%= @contact.telephone %></p>
<p class="mb-1">Email : <%= @contact.email %></p>
<p>Ville : <%= @contact.ville %></p>
<p class="mb-1">A très bientôt</p>
<p>Realbeez</p>