<p>Bonjour <%= @review.agent.user.prénom.capitalize %>,</p>
<p><%= @review.user.prénom.capitalize + ' a publié un commentaire sur votre profil'%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir profil", profile_url(@review.agent.user) %></p>