<div class="container px-4">
  <div class="d-flex align-items-center justify-content-around" style="height: 80vh">
    <div>
      <h1 style="font-family: Simply Rounded; font-size: 60px; color: #FFC65A">500 Server Error</h1>
      <h2>Oops! Something went wrong</h2>
      <p>Try to refresh this page or feel free to contact us if the problem persist.</p>
      <%= link_to "Go to homepage", root_path, class:"btn btn-yellow-mustard-big"  %>
    </div>
  </div>
</div>