<div class="container px-4">
  <div class="d-flex align-items-center justify-content-around" style="height: 80vh">
    <div>
      <h1 style="font-family: Simply Rounded; font-size: 80px; color: #FFC65A">422</h1>
      <h2>Oops! The change you wanted was rejected.</h2>
      <p>Maybe you tried to change something you didn't have access to.</p>
      <%= link_to "Go to homepage", root_path, class:"btn btn-yellow-mustard-big"  %>
    </div>
  </div>
</div>