<p>Bonjour Boss,</p>
<p><%= @agent.prénom.capitalize + " annonce avoir loué le bien " + @annonce.titre_annonce%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir annonce", annonce_url(@annonce) %></p>