<!-- NOT USED ANYMORE EMAIL SEND VIA ORDER MAILER -->
<p>Bonjour Boss,</p>
<p><%= @annonce.user.prénom.capitalize + " annonce que son bien " + @annonce.titre_annonce + " a été loué."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir annonce", annonce_url(@annonce) %></p>