<p>Bonjour Boss,</p>
<p><%= @locataire.annonce.user.prénom.capitalize + " " + @locataire.annonce.user.nom.capitalize + " a rejeté le dossier de location de " + @locataire.prenom.capitalize + " " + @locataire.nom.capitalize  + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir le dossier de location", locataire_url(@locataire) %></p>