<p>Bonjour <%= @candidature.user.prénom.capitalize %>,</p>
<p><%= @candidature.annonce.user.prénom.capitalize + " demande vos services pour louer son bien situé à " + @candidature.annonce.ville + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir demande", show_agent_url(@candidature) %></p>