<p>Bonjour <%= @candidature.user.prénom.capitalize %>,</p>
<p><%= @candidature.annonce.user.prénom.capitalize + " rejète vos services pour la location du bien situé à " + @candidature.annonce.ville + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir candidature", candidature_agent_url %></p>