<p>Bonjour <%= @candidature.annonce.user.prénom.capitalize %>,</p>
<p><%= @candidature.user.prénom.capitalize + " propose ses services pour louer votre bien situé à  " + @candidature.annonce.ville + "."%></p>
<p>A très bientôt</p>
<p>Realbeez</p>
<p><%= link_to "Voir profil", show_proprio_url(@candidature) %></p>