#ajouter_locataire:hover {
  color:#d69d00;
  text-decoration: underline;
}

#supprimer_locataire:hover {
  color:#d69d00;
  text-decoration: underline;
}

#ajouter_document:hover {
  color:#d69d00;
  text-decoration: underline;
}

#supprimer_document:hover {
  color:#d69d00;
  text-decoration: underline;
}
