.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
  div {
    > p {
      > span {
        color: #3a3a3c !important;
      }
    }
    > ul {
      > li {
        > a {
          color: rgb(80, 80, 80) !important;
        }
      }
    }
  }
}
