.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hide-on-mobile {
  @media only screen and (max-width: 768px) {
    background-color: white !important;
    color: rgb(80, 80, 80) !important;
    position: relative;
    div {
      > p {
        > span {
          color: #3a3a3c !important;
        }
      }
      > ul {
        > div {
          > div {
            > button {
              color: rgba(0, 0, 0, 0.5) !important;
            }
          }
        }
      }
    }
  }
}

.navbar-lewagon-white {
  background-color: white;
  div {
    > p {
      > span {
        color: #3a3a3c !important;
      }
    }
    > ul {
      > li {
        > a {
          color: rgba(0, 0, 0, 0.5) !important;
        }
      }
      > div {
        > div {
          > button {
            color: rgba(0, 0, 0, 0.5) !important;
          }
        }
      }
    }
  }
}

.navbar-lewagon-white {
  background-color: white;
 div {
    > ul {
      > li {
        > a:hover {
          color: rgb(80, 80, 80) !important;
        }
      }
    }
  }
}

a.nav-link.hide-on-mobile.nav-white{
  color: white;
}

a.nav-link.hide-on-mobile.nav-white:hover {
  color: #D8A727;
}
