// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.picture-carousel {
   @media only screen and (max-width: 576px) {
     height: 30vh !important;
  }
}

// add a border around the distance in search bar
select#search_distance {
  border : 1px solid rgba(0, 0, 0, 0.5);
}

// .hide-on-mobile {
//   @media only screen and (max-width: 768px) {
//     background-color: white !important;
//     color: rgb(80, 80, 80) !important;
//     position: relative;
//     div {
//       > p {
//         > span {
//           color: #3a3a3c !important;
//         }
//       }
//     }
//   }
// }



