<!-- <p>Hello <%= @resource.email %>!</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p><%#= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p> -->
<!-- =============== French============= -->
<p> Bonjour <%= @resource.email %>! </p>
<p> Vous avez demander la réinitialisation de votre mot de passe. Vous pouvez le changer en cliquant sur le lien ci-dessous. </p>
<p> <%= link_to "Changer mon mot de passe", edit_password_url(@resource, reset_password_token: @token) %> </p>
<p> Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email. </p>
<p> Votre mot de passe ne sera pas modifier tant que vous n’aurez pas accédé au lien ci-dessus et effectué le changement.</p>